@model string
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="">
  <title>Movie Recommendation</title>
</head>
<body>
  <main>
    <h1>Welcome to Movie Recommendation</h1>
    <p>Here you can find recommended movies based on your preferences</p>
    <p>@Model</p>
  </main>
</body>
</html>