<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Movie Quiz Login</title>
</head>
<body>
  </header>
  <main>
    <h1>Movie Quiz Login</h1>
    <form>
      <div class="login">
        <p>Username:</p>
        <input type="text" name="username"><br><br>
        <p>Password:</p>
        <input type="password" name="password"><br><br>
        <input type="checkbox" name="keep-signed-in"> Keep me signed in<br><br>
        <input type="submit" value="Login">
      </div>
    </form>
  </main>
</body>
</html>