<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Movie Quiz</title>
</head>
<body>
  <header></header>
  <main>
    <h1>Movie Quiz</h1>
    <form id="Movie-Quiz" action="/Home/MovieRecommend">
        <div>
        <label for="sfw-mode-checkbox">Enable SFW Mode</label>
        <input type="checkbox" id="sfw-mode-checkbox">
      </div>
      <div class="question active">
        <p>Which Genre do you like?</p>
        <input type="checkbox" name="genre" value="28">Action<br>
        <input type="checkbox" name="genre1" value="35">Comedy<br>
        <input type="checkbox" name="genre2" value="18">Drama<br>
        <input type="checkbox" name="genre3" value="27">Horror<br>
        <input type="checkbox" name="genre4" value="10749">Romance<br>
        <input type="checkbox" name="genre5" value="53">Thriller<br>
        <input type="checkbox" name="genre6" value="12">Adventure<br>
        <input type="checkbox" name="genre7" value="878">Sci-Fi<br>
      </div>
      <div class="question">
        <p>Which Genre's do you hate?</p>
        <input type="checkbox" name="hategenre" value="28">Action<br>
        <input type="checkbox" name="hategenre1" value="35">Comedy<br>
        <input type="checkbox" name="hategenre2" value="18">Drama<br>
        <input type="checkbox" name="hategenre3" value="27">Horror<br>
        <input type="checkbox" name="hategenre4" value="10749">Romance<br>
        <input type="checkbox" name="hategenre5" value="53">Thriller<br>
        <input type="checkbox" name="hategenre6" value="12">Adventure<br>
        <input type="checkbox" name="hategenre7" value="878">Sci-Fi<br>
      </div>
      <div class="question">
        <p>Age</p>
        <input type="text" name="age"><br><br>
      </div>
      <div class="question">
        <p>What is Your Requested Rating</p>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select><br><br>
      </div>
      <button type="button" class="next-button">Next Question</button>
      <input type="submit" value="Finish Quiz" class="finish-quiz" style="display:none">
    </form>
    <script src="~/js/quiz.js"></script>
        <script>
      var sfwModeCheckbox = document.getElementById('sfw-mode-checkbox');
      sfwModeCheckbox.addEventListener('click', function() {
        if (this.checked) {
          this.disabled = true;
          var sfwModeText = document.createElement('p');
          sfwModeText.textContent = 'Jokes On You This Does Nothing';
          this.parentNode.insertBefore(sfwModeText, this.nextSibling);
        }
      });
    </script>
  </main>
</body>
</html>
