@model MResults

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Movie.css">
    <title>Movie Recommendation</title>
</head>
<body>
    <main>
        <table>
            <tr>
                <th>Title</th>
                <td>@Model.title</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>
                    @if (@Model.poster_Path == null)
                    {
                        <p>Nothing grabbed.</p>
                    }
                    else
                    {
                        <img src="https://image.tmdb.org/t/p/original/@Model.poster_Path" alt="Movie Poster" />
                    }
                </td>
            </tr>
            <tr>
                <th>Vote Average</th>
                <td>@Model.vote_average.ToString()</td>
            </tr>
            <tr>
                <th>Overview</th>
                <td>@Model.overview</td>
            </tr>
            <tr>
                <th>Genres</th>
                <td>
                    @{
                        string genreNames = "";
                        for (int i = 0; i < Model.genre_ids.Count(); i++)
                        {

                            if (Model.genre_ids[i] == 28)
                            {
                                genreNames += "Action";
                            }
                            else if (Model.genre_ids[i] == 35)
                            {
                                genreNames += "Comedy";
                            }
                            else if (Model.genre_ids[i] == 18)
                            {
                                genreNames += "Drama";
                            }
                            else if (Model.genre_ids[i] == 27)
                            {
                                genreNames += "Horror";
                            }
                            else if (Model.genre_ids[i] == 10749)
                            {
                                genreNames += "Romance";
                            }
                            else if (Model.genre_ids[i] == 53)
                            {
                                genreNames += "Thriller";
                            }
                            else if (Model.genre_ids[i] == 12)
                            {
                                genreNames += "Adventure";
                            }
                            else if (Model.genre_ids[i] == 878)
                            {
                                genreNames += "Sci-Fi";
                            }
                            else if (Model.genre_ids[i] == 36)
                            {
                                genreNames += "History";
                            }
                            else if (Model.genre_ids[i] == 14)
                            {
                                genreNames += "Fantasy";
                            }
                            else if (Model.genre_ids[i] == 16)
                            {
                                genreNames += "Animation";
                            }
                            else if (Model.genre_ids[i] == 10751)
                            {
                                genreNames += "Family";
                            }
                            else
                            {
                                genreNames += "Other =D ";
                            }
                            if (i < Model.genre_ids.Count())
                            {
                                genreNames += ", ";
                            }
                        }
                    }
                    @genreNames
                </td>
            </tr>
        </table>
    </main>
</body>
</html>
