<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Movie Quiz</title>
</head>
<body>
  </header>
  <main>
    <h1>Movie Quiz</h1>
    <form>
      <p>Which Genre do you like?</p>
      <input type="checkbox" name="genre" value="Action">Action<br>
      <input type="checkbox" name="genre" value="Comedy">Comedy<br>
      <input type="checkbox" name="genre" value="Drama">Drama<br>
      <input type="checkbox" name="genre" value="Horror">Horror<br>
      <input type="checkbox" name="genre" value="Romance">Romance<br>
      <br>
      <p>Which Genre's do you hate?</p>
      <input type="checkbox" name="hate-genre" value="Action">Action<br>
      <input type="checkbox" name="hate-genre" value="Comedy">Comedy<br>
      <input type="checkbox" name="hate-genre" value="Drama">Drama<br>
      <input type="checkbox" name="hate-genre" value="Horror">Horror<br>
      <input type="checkbox" name="hate-genre" value="Romance">Romance<br>
      <br>
      <p>What is Your Gender?</p>
      <input type="radio" name="gender" value="Male">Male<br>
      <input type="radio" name="gender" value="Female">Female<br>
      <input type="radio" name="gender" value="Other">Other<br>
      <br>
      <p>Age</p>
      <input type="text" name="age"><br><br>
      <p>What is Your Request Rating</p>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select><br><br>
      <input type="submit" value="Submit">
    </form> 
  </main>
</body>
</html>