@model string
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="">
    <title>Movie Recommendation</title>
</head>
<body>
    <main>
        <p>@Model</p>
    </main>
</body>
</html>