<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Snack Quiz</title>
</head>
<body>
  </header>
  <main>
    <h1>Snack Quiz</h1>
        <form id="Movie-Quiz" action="/Home/RecommendSnack">
  <div class="question active">
    <p>What Kind Of Snack Do You Like</p>
    <input type="checkbox" name="Candy" value="Chips">Chips<br>
    <input type="checkbox" name="Chips" value="Candy">Candy<br>
    <input type="checkbox" name="Food" value="Food">Food<br>
  </div>
  <div class="question">
    <p>Are you Okay With Gluten Substances</p>
    <input type="radio" name="GlutenY" value="Yes">Yes<br>
    <input type="radio" name="GlutenN" value="No">No<br>
  </div>
  <button type="button" class="next-button">Next Question</button>
  <input type="submit" value="Finish Quiz" class="finish-quiz" style="display:none">
</form>
  </main>
    <script src="~/js/quiz.js"></script>
</body>
</html>


